# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads
backend/uploads/images/*
backend/uploads/videos/*
!backend/uploads/images/.gitkeep
!backend/uploads/videos/.gitkeep

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/
.nyc_output/
.vercel
